<div style="background-color:black;color:white;padding:20px;text-align:center;">
    <h1>Fill <span style="color:red;font-family:Courier;">Out</span> This <span style="color:blue;font-family:Courier;">Form</span></h1>

    <form action="/hello/" method="POST">
        A Greeting: <input type="text" name="greeting" style="margin-left:4px;">
        <br/>
        Your Name: <input type="text" name="name">
        <br/>
        <input type="submit" style="margin-left:74px;width:173px">
    </form>
</div>
