<html>
<head>
    <title>Gothons From Planet Percal #25</title>
<style>
div.container {
  width: 100%;
  border: 1px solid gray;
}

header, footer {
  padding: 1em;
  color: red;
  background-color: black;
  text-align: center;
}

article {
  padding: 20px;
  text-align: center;
  background-color: gray;
}

section {
  padding: 5px;
  text-align: center;
  background-color: red;
}  
</style>
</head>
<body>

<%= yield %>

</body>
</html>
