<h1>File uploader!</h1>
<form action="/after_upload/" method="POST" enctype='multipart/form-data'>
    <input type="file" name="pic" accept="image/*">
    </br>
    <input type="submit" value="Upload!">
</form>
